<body>
  <div class="container fs-5 py-4" style="height: auto; width=90%; border-bottom: solid var(--bloodred); ">
    <h2 class="fw-bold fs-4 py-2 text-center">{{blogpost.title}}</h2>
    <p class="card-subtitle col-md-auto text-center pb-4">Posted by {{blogpost.user.name}} on {{format_date blogpost.created_at}}</p>
    <p>{{blogpost.content}}</p>
  </div>
  <div class="container pb-5">
    <p class="fw-bold fs-5 pt-4 text-center">Comments</p>
    {{#each blogpost.comments as |comment|}}
      <div class="uk-card fs-5 uk-card-body uk-box-shadow-large uk-padding uk-text-large">
        <p>{{comment.content}} <small class="mb-5 uk-text-small">&nbsp;&nbsp;- {{user.name}}</small></p>
      </div>
    {{/each}}
  </div>

  <script src="./js/addBlogpost.js"></script>

</body>