<body>
  <form class="form-control homepage-form pt-3 border border-0">
    <!-- Loop over each object in the blog posts array -->
    {{#each blogposts as |blogpost| }}
    <div class="card bg-body-secondary mb-3" style="border: 3px solid black">
      <div class="card-body pb-0">
        <div class="card-header px-0 py-0 row justify-content-between">
          <h2 class="col-md-auto">{{blogpost.title}}</h2>
          <p class="card-subtitle col-md-auto pt-3" >Posted by {{blogpost.user.name}} on {{format_date blogpost.created_at}}</p>
        </div>
        <p class="mt-3">
          {{blogpost.content}}
        </p>
        <a href="/blogpost/{{id}}" class="uk-button stretched-link border border-0"></a>
      </div>
    </div mb>
    {{/each}}
  </form>
</body>