<div class="container fs-5 py-4" style="height: auto; width=90%; ">
  <h2 class="fw-bold fs-4 py-2 text-center">{{blogpost.title}}</h2>
  <p>{{blogpost.content}}</p>
</div>

<div class="col-8 mx-auto" style="justify-content: space-around; display: flex; flex-wrap=wrap;">
  <button type="submit" data-id="{{blogpost.id}}" style="width: 20vw;" class="update-button btn btn-lg rounded-1 fw-bold bg-white border-dark border-3 mt-4">Update</button>
  <button type="submit" data-id="{{blogpost.id}}" style="width: 20vw;" class="delete-button btn btn-lg rounded-1 fw-bold bg-white border-dark border-3 mt-4">Delete</button>
</div>


<script> 
const updateButtonHandler = async (event) => {
  event.preventDefault();
  const response = await fetch('/api/blogposts/{{blogpost.id}}', {
    method: 'GET',
    headers: { 'Content-Type': 'application/json' },
  });
  console.log(response);
  if (response.ok) {
    document.location.replace('/updateBlogpost/{{blogpost.id}}');
  }
  else {
    alert("Something went wrong. Please try again.");
  }
};


const deleteButtonHandler = async (event) => {
  event.preventDefault();
  const response = await fetch(`/api/blogposts/{{blogpost.id}}`, {
    method: 'DELETE',
  });
  if (response.ok) {
    document.location.replace('/dashboard');
    alert('Blog post deleted!');
  } 
  else {
    alert('Unable to delete blog post');
  }
};
  
document.querySelector('.update-button').addEventListener('click', updateButtonHandler);
document.querySelector('.delete-button').addEventListener('click', deleteButtonHandler);

</script>